.dbPreviewPrinterFriendly {
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.dbPreviewTableHead {
  background-color: #a7c7e7;
}

.dbPreviewTableHead th:first-of-type {
  width: 12%;
}

.dbPreviewTableBody > tr:nth-child(odd) {
  background-color: #fbffe2;
}

.dbPreviewTableBody > tr > td:first-of-type {
  font-weight: bold;
}

.dbPreviewTitle {
  font: normal normal normal 50px/59px "Lucida Fax";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.defaultDbPreview {
  font: normal normal normal 40px/47px "Lucida Fax";
  margin-top: 50px;
}

.dbPreviewTableMargin {
  margin-bottom: 115px;
}

.dbPreviewTableCaption {
  caption-side: top;
  border: none;
}

#dbPreviewTablePrintButton {
  float: right;
  width: 100px;
  height: 40px;
  background: #d7e7e4;
  border: 1px solid #707070;
  border-radius: 12px;
  color: black;
  font-size: 13px;
}

@media print {
  .dbPreviewTableHead {
    background-color: #a7c7e7 !important;
  }

  .dbPreviewTableHeaderId {
    width: 12% !important;
  }

  .dbPreviewTableBody > tr:nth-child(odd) {
    background-color: #fbffe2 !important;
  }

  .dbPreviewTableBody > tr > td:first-of-type {
    font-weight: bold !important;
  }

  .dbPreviewTitle {
    font: normal normal normal 50px/59px "Lucida Fax" !important;
    letter-spacing: 0px !important;
    color: #000000 !important;
    opacity: 1 !important;
  }

  .defaultDbPreview {
    font: normal normal normal 40px/47px "Lucida Fax" !important;
    margin-top: 50px !important;
  }

  .dbPreviewTableMargin {
    margin-bottom: 115px !important;
  }

  .dbPreviewTableCaption {
    caption-side: top !important;
    border: none !important;
  }

  #dbPreviewTablePrintButton {
    float: right !important;
    width: 100px !important;
    height: 40px !important;
    background: #d7e7e4 !important;
    border: 1px solid #707070 !important;
    border-radius: 12px !important;
    color: black !important;
    font-size: 13px !important;
  }

  .noDisplay {
    display: none !important;
  }
}
